<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meet.orm.dao.SysUserOperateLogMapper" >
  <resultMap id="BaseResultMap" type="com.meet.orm.pojo.SysUserOperateLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="module" property="module" jdbcType="VARCHAR" />
    <result column="action" property="action" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.meet.orm.pojo.SysUserOperateLog" extends="BaseResultMap" >
    <result column="req_param" property="reqParam" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, module, action, create_time
  </sql>
  <sql id="Blob_Column_List" >
    req_param
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_user_operate_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.meet.orm.pojo.SysUserOperateLog" >
    insert into sys_user_operate_log (id, uid, module, 
      action, create_time, req_param
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{module,jdbcType=VARCHAR}, 
      #{action,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{reqParam,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meet.orm.pojo.SysUserOperateLog" >
    insert into sys_user_operate_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="module != null" >
        module,
      </if>
      <if test="action != null" >
        action,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="reqParam != null" >
        req_param,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="module != null" >
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reqParam != null" >
        #{reqParam,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meet.orm.pojo.SysUserOperateLog" >
    update sys_user_operate_log
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="module != null" >
        module = #{module,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reqParam != null" >
        req_param = #{reqParam,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.meet.orm.pojo.SysUserOperateLog" >
    update sys_user_operate_log
    set uid = #{uid,jdbcType=INTEGER},
      module = #{module,jdbcType=VARCHAR},
      action = #{action,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      req_param = #{reqParam,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meet.orm.pojo.SysUserOperateLog" >
    update sys_user_operate_log
    set uid = #{uid,jdbcType=INTEGER},
      module = #{module,jdbcType=VARCHAR},
      action = #{action,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>